<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>searchByLocation</servlet-name>
        <servlet-class>com.Cteam.Servlets.searchByLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.Cteam.Servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.Cteam.Servlets.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>results</servlet-name>
        <jsp-file>/results.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>/search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>rentNow</servlet-name>
        <servlet-class>com.Cteam.Servlets.rentNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminMenu</servlet-name>
        <jsp-file>/adminIndex.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>userMenu</servlet-name>
        <jsp-file>/userIndex.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>receiptData</servlet-name>
        <servlet-class>com.Cteam.Servlets.receiptData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postCar</servlet-name>
        <servlet-class>com.Cteam.Servlets.postCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMyPosts</servlet-name>
        <servlet-class>com.Cteam.Servlets.viewMyPosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myPosts</servlet-name>
        <jsp-file>/myPosts.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>viewMyRents</servlet-name>
        <servlet-class>com.Cteam.Servlets.viewMyRents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myRents</servlet-name>
        <jsp-file>/myRents.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editPosts</servlet-name>
        <servlet-class>com.Cteam.Servlets.editPosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>com.Cteam.Servlets.viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfile</servlet-name>
        <jsp-file>/userProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.Cteam.Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveProfile</servlet-name>
        <servlet-class>com.Cteam.Servlets.saveProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePhotoProfile</servlet-name>
        <servlet-class>com.Cteam.Servlets.savePhotoProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByCategory</servlet-name>
        <servlet-class>com.Cteam.Servlets.searchByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByCc</servlet-name>
        <servlet-class>com.Cteam.Servlets.searchByCc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByPrice</servlet-name>
        <servlet-class>com.Cteam.Servlets.searchByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMyPost</servlet-name>
        <servlet-class>com.Cteam.Servlets.DeleteMyPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRent</servlet-name>
        <servlet-class>com.Cteam.Servlets.viewRent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRent</servlet-name>
        <servlet-class>com.Cteam.Servlets.deleteRent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveInfo</servlet-name>
        <servlet-class>com.Cteam.Servlets.saveInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchByLocation</servlet-name>
        <url-pattern>/searchByLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>results</servlet-name>
        <url-pattern>/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rentNow</servlet-name>
        <url-pattern>/rentNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminMenu</servlet-name>
        <url-pattern>/adminMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userMenu</servlet-name>
        <url-pattern>/userMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receiptData</servlet-name>
        <url-pattern>/receiptData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postCar</servlet-name>
        <url-pattern>/postCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMyPosts</servlet-name>
        <url-pattern>/viewMyPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myPosts</servlet-name>
        <url-pattern>/myPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMyRents</servlet-name>
        <url-pattern>/viewMyRents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myRents</servlet-name>
        <url-pattern>/myRents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPosts</servlet-name>
        <url-pattern>/editPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveProfile</servlet-name>
        <url-pattern>/saveProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePhotoProfile</servlet-name>
        <url-pattern>/savePhotoProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByCategory</servlet-name>
        <url-pattern>/searchByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByCc</servlet-name>
        <url-pattern>/searchByCc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByPrice</servlet-name>
        <url-pattern>/searchByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMyPost</servlet-name>
        <url-pattern>/DeleteMyPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRent</servlet-name>
        <url-pattern>/viewRent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRent</servlet-name>
        <url-pattern>/deleteRent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveInfo</servlet-name>
        <url-pattern>/saveInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
