/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 12, 2019, 6:42:28 PM
    Author     : manli
*/

body{
    height: 100vh !important;
    background-image: url(../img/index-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
}

header{
    width: 100% !important;
}

.navbar-brand, 
.nav-item{
    color: white;
    font-weight: bold;
    border: 0;
    background-color: transparent;
}

.navbar{
    background-color: #B22222 !important;
}

.navbarColor{
    color: black !important;
}

.active{
    background-color: #B22222 !important;
    color: white !important;
}

.pading{
    padding-top: 11%;
    padding-bottom: 9%;
}

input[type=submit]{
    background-color: #B22222 !important;
    color: white !important;
}

footer{
    background-color: #8B0000 !important;
    color: white !important;
    padding-bottom: 0px !important;
}

.divHeight{
    height: 100vh !important;
}
